<h3 class="flex">Dyrektywy w Angularze to kluczowe elementy tego frameworka, które pozwalają na modyfikowanie zachowania elementów DOM i tworzenie bardziej dynamicznych i interaktywnych aplikacji webowych. Angular oferuje trzy główne rodzaje dyrektyw:</h3>

<ul>
    <li><b>ngModel</b>: Dwukierunkowe powiązanie danych między elementem formularza a właściwością modelu.</li>
    <li><b>ngIf</b>: Warunkowe dodawanie lub usuwanie elementu z DOM.</li>
    <li><b>ngFor</b>: Renderowanie listy elementów przez iterację.</li>
    <li><b>ngClass</b>: Dynamiczne dodawanie lub usuwanie klas CSS.</li>
    <li><b>ngStyle</b>: Dynamiczne dodawanie stylów CSS.</li>
    <li><b>ngSwitch</b>: Wyświetlanie elementów na podstawie wartości wyrażenia.</li>
    <li><b>ngSwitchCase</b>: Definiowanie widoku do wyświetlenia w ramach <code>ngSwitch</code>, kiedy wyrażenie pasuje do danej wartości.</li>
    <li><b>ngSwitchDefault</b>: Definiowanie domyślnego widoku w ramach <code>ngSwitch</code>, gdy żadna z wartości <code>ngSwitchCase</code> nie pasuje.</li>
    <li><b>ngContainer</b>: Lekka dyrektywa strukturalna umożliwiająca grupowanie elementów bez dodawania dodatkowych elementów do DOM.</li>
</ul>
<mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="keyboard_arrow_left" class="arrow-button" routerLink="/basics" ></mat-icon>