<div class="toDoWrapper">
  <div class="list1">
    Dodaj rzeczy do zrobienia
    <form [formGroup]="reactiveForm">
      <input type="text" placeholder="Tytuł" formControlName="title" />
      <input
        type="text"
        placeholder="Opis (opcjonalne)"
        formControlName="description"
      />
      <button (click)="onSubmit()">Submit</button>
    </form>
  </div>
  <div class="list2">
    Lista rzeczy do zrobienia

    <ul>
      <li *ngFor="let task of taskList | keyvalue; index as i">
        <b>Task:</b>{{ i + 1 }}{{ task.value.title }}
        <button (click)="usun(i)">X</button>
        <span *ngIf="task.value.description"
          ><b> Opis:</b>{{ task.value.description }}</span
        >
      </li>
    </ul>
  </div>
</div>
