<ul>
    <li><strong>Konkatenacja (łączenie):</strong> 
        <div>let combinedString = string1 + string2;</div>
    </li><br>
    <li><strong>Długość stringa:</strong> 
        <div>let lengthOfString = someString.length;</div>
    </li><br>
    <li><strong>Porównywanie stringów:</strong> 
        <div>let areEqual = string1 === string2;</div>
    </li><br>
    <li><strong>Wyszukiwanie podstringów:</strong> 
        <div>let indexOfSubstring = string.indexOf("podstring");</div>
    </li><br>
    <li><strong>Wyciąganie podstringów:</strong> 
        <div>let substring = string.substring(1, 4);</div>
    </li><br>
    <li><strong>Zamiana znaków lub podstringów:</strong> 
        <div>let replacedString = string.replace("stary", "nowy");</div>
    </li><br>
    <li><strong>Podział stringa:</strong> 
        <div>let splitString = string.split(",");</div>
    </li><br>
    <li><strong>Usuwanie białych znaków:</strong> 
        <div>let trimmedString = string.trim();</div>
    </li><br>
    <li><strong>Zamiana wielkości liter:</strong> 
        <div>let upperCaseString = string.toUpperCase();</div>
    </li><br>
    <li><strong>Formatowanie stringów:</strong> 
        <div>let formattedString = `Wartość: $value`;</div>
    </li><br>
    <li><strong>Sprawdzanie zawartości:</strong> 
        <div>let containsSubstring = string.includes("substring");</div>
    </li><br>
    <li><strong>Iteracja po znakach:</strong> 
        <div>for (let char of string)  console.log(char);</div>
    </li><br>
    <li><strong>Sprawdzanie początku/końca:</strong> 
        <div>let startsWith = string.startsWith("start");</div>
    </li><br>
    <li><strong>Wyrażenia regularne:</strong> 
        <div>let matches = string.match(/wyrażenie/);</div>
    </li><br>
    <li><strong>Kodowanie i dekodowanie:</strong> 
        <div>let encodedString = encodeURIComponent(string);</div>
    </li><br>
    <li><strong>Odwracanie stringa:</strong> 
        <div>let reversedString = string.split("").reverse().join("");</div>
    </li><br>
    <li><strong>Zliczanie wystąpień:</strong> 
        <div>let count = string.split("znak").length - 1;</div>
    </li><br>
    <li><strong>Zastępowanie wzorców:</strong> 
        <div>let newString = string.replaceAll("stary", "nowy");</div>
    </li><br>
</ul>
<mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="keyboard_arrow_left" class="arrow-button" routerLink="/basics" ></mat-icon>