<nav class="navbar">
    <button routerLink="/landing-page" class="nav-button">Powrót na stronę główną</button>
    <button routerLink="/basics" class="nav-button">Podstawy</button>
    <!-- <button routerLink="/advanced" class="nav-button">Zaawansowane</button> -->
    <button routerLink="/interview-questions" class="nav-button">Typowe pytania rekrutacyjne</button>
    <button routerLink="/solved-exercises" class="nav-button">Rozwiązane zadanka</button>
</nav>
<div class="content">
    <ng-content class="content"></ng-content>
  </div>