<h1 class="flex">Opracowanie typowych pytań rekrutacyjnych</h1>

<div class="flexColumn">
<div><strong>1. CONST / LET / VAR</strong></div>
<div>
  <b>const</b> - jest używane do deklarowania zmiennej, której wartość nie może
  zostać zmieniona
</div>
<div>
  <b>let</b> - jest używane do deklarowania zmiennej, której wartość może zostać
  zmieniona
</div>
<div>
  <b>var</b> - jest to starszy sposób deklarowania zmiennych różni się od let’a
  tym że może być dostępna po za scopem funkcji w której została zadeklarowana
</div>
<br />
<div><strong>2. Co to jest OOP</strong></div>
<div>
  OOP to sposób programowania, w którym używa się obiektów, które mają swoje
  cechy (atrybuty) i zachowania (metody). Dzięki temu można tworzyć programy w
  bardziej zorganizowany i czytelny sposób, co ułatwia ich rozwijanie i
  utrzymanie. To taki sposób programowania, w którym programiści myślą o swoim
  kodzie jak o obiektach, tak jakby tworzyli modele rzeczywistych obiektów.
</div>
<div><strong>3.CO TO JEST SOLID </strong></div>
<div>
SOLID to skrót od pięciu zasad programowania obiektowego, które pomagają projektować lepsze oprogramowanie. Te zasady to:
<br>
<b>Zasada Jednej Odpowiedzialności</b> - każdy obiekt powinien robić tylko jedną rzecz.
<br>
<b>Zasada Otwarte-Zamknięte</b> - klasy powinny być otwarte na rozszerzenie, ale zamknięte na modyfikację.
<br>
<b>Zasada Podstawienia Liskov</b> - obiekty powinny być zastępywalne przez ich podtypy.
<br>
<b>Zasada Segregacji Interfejsów</b> - klienci nie powinni zależeć od metod, których nie używają.
<br>
<b>Zasada Odwrócenia Zależności</b> - moduły powinny zależeć od abstrakcji, a nie od konkretnych implementacji.

</div>
<br>
<div><strong>4. RODZAJE POZYCJONOWANIA W CSS</strong></div>
<div>
W CSS istnieją cztery główne rodzaje pozycjonowania elementów:
<br>
<b>Static</b> - Jest to domyślny sposób pozycjonowania, gdzie elementy układają się według naturalnego porządku dokumentu. W tym przypadku nie można zmieniać ich pozycji za pomocą właściwości top, bottom, left, czy right.
<br>
<b>Relative</b> - Pozycjonowanie względne, które pozwala przesunąć element względem jego pierwotnego położenia. Element nadal pozostaje częścią normalnego przepływu dokumentu, a jego oryginalna przestrzeń jest zachowana. Można wykorzystać właściwości top, bottom, left i right do zmiany położenia.
<br>
<b>Absolute</b> - Pozycjonowanie absolutne usuwa element z normalnego przepływu dokumentu, pozycjonując go względem najbliższego przodka, który nie jest pozycjonowany statycznie. Pozycję elementu określa się używając właściwości top, bottom, left i right.
<br>
<b>Fixed</b> - Pozycjonowanie stałe sprawia, że element pozostaje nieruchomy względem okna przeglądarki, niezależnie od przewijania strony. Jego pozycję również definiuje się za pomocą właściwości top, bottom, left i right.
</div>
</div>