<div class="flex">wyróżniamy wiele metod których możemy użyć na arrayach</div>
<ul>
  <li><strong>push </strong>dodaje wartość na koniec tablicy.</li>
  <div>let arr = [1,2,3,4];</div>
  <div>arr.push(5);</div>
  <div>output: [1,2,3,4,5]</div>
  <li><strong>unshift</strong>dodaje wartość na początek tablicy.</li>
  <div>let arr = [1,2,3,4];</div>
  <div>arr.unshift(5);</div>
  <div>Output: [5,1,2,3,4,5]</div>
  <li><strong>pop</strong></li>
  <div>let arr2 = [10,20,30];</div>
  <div>arr2.pop()</div>
  <div>output: [10,20]</div>
</ul>

<strong></strong>

<h1>Filtrowanie "filter"</h1>
<h5>
  Metoda filter tworzy nową tablicę zawierającą wszystkie elementy oryginalnej
  tablicy, które spełniają określony warunek.
</h5>
<div class="flex">
  <mat-card class="my-card">
    <mat-card-header> </mat-card-header>

    <mat-card-content>
      <div class="task">
        <mat-card-title>Task 1</mat-card-title>
        <p>Filtrowanie tablicy liczb do uzyskania tylko tych parzystych.</p>
        <p><strong>Dane:</strong> {{ task1 }}</p>
        <p><strong>Wynik:</strong> {{ this.task1Result }}</p>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="my-card">
    <mat-card-header>
      <mat-card-title>Task 2</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="task">
        <p>
          Filtrowanie tablicy obiektów do znalezienia osób dorosłych, których
          imiona zaczynają się na literę 'A'.
        </p>
        <p><strong>Dane:</strong> {{ task2 | json }}</p>

        <p><strong>Wynik:</strong> {{ this.task2Result | json }}</p>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<h1>Mapowanie "map"</h1>
<h5>
  Metoda map tworzy nową tablicę, w której każdy element jest wynikiem wywołania
  funkcji na każdym elemencie oryginalnej tablicy.
</h5>
<div class="flex">
  <mat-card class="my-card">
    <mat-card-header>
      <mat-card-title>Task 1</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="task">
        <p>Kwadrat każdego elementu w tablicy liczb.</p>
        <p><strong>Dane:</strong> {{ task1Map | json }}</p>
        <p><strong>Wynik:</strong> {{ this.task1MapResult | json }}</p>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="my-card">
    <mat-card-header>
      <mat-card-title>Task 2</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="task">
        <p>
          Tworzenie nowej tablicy stringów na podstawie tablicy obiektów (np.
          imion i wieku osób).
        </p>
        <p><strong>Dane:</strong> {{ task2Map | json }}</p>
        <p><strong>Wynik:</strong> {{ task2MapResult }}</p>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<h1>Redukcja "reduce"</h1>
<h5>
  Metoda reduce przetwarza tablicę do jednej skumulowanej wartości, przechodząc
  po każdym elemencie i używając funkcji redukującej.
</h5>
<div class="flex">
  <mat-card class="my-card">
    <mat-card-header>
      <mat-card-title>Task 1</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="task">
        <p>Obliczenie sumy wszystkich elementów w tablicy liczb.</p>
        <p><strong>Dane:</strong> {{ task1Reduce | json }}</p>
        <p><strong>Wynik:</strong> {{ this.task1ReduceResult | json }}</p>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="my-card">
    <mat-card-header>
      <mat-card-title>Task 2</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="task">
        <p>Obliczenie łącznej ceny produktów w tablicy obiektów.</p>
        <p><strong>Dane:</strong> {{ task2Reduce | json }}</p>
        <p><strong>Wynik:</strong> {{ task2ReduceResult }}</p>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<h1>Łączenie "concat"</h1>
<h5>Metoda concat łączy dwie lub więcej tablic w jedną nową tablicę.</h5>
<div class="flex">
  <mat-card class="my-card">
    <mat-card-content>
      <div class="task">
        <mat-card-title>Task 1</mat-card-title>
        <p>Łączenie dwóch tablic liczb.</p>
        <p>
          <strong>Dane:</strong> [{{ task1Concat }}] and [{{ task1Concat1 }}]
        </p>
        <p><strong>Wynik:</strong> [{{ this.task1ConcatResult }}]</p>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="my-card">
    <mat-card-content>
      <div class="task">
        <mat-card-title>Task 2</mat-card-title>
        <p>Łączenie tablicy liczb i tablicy stringów.</p>
        <p>
          <strong>Dane:</strong> [{{ task1Concat }}] and [{{ task1Concat1 }}]
        </p>
        <p><strong>Wynik:</strong> [{{ this.task1ConcatResult }}]</p>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<h1>Sortowanie (sort)</h1>
<h5>
  Metoda sort sortuje elementy tablicy na miejscu i zwraca posortowaną tablicę.
  Domyślnie sortuje elementy jako stringi, ale można dostarczyć własną funkcję
  porównującą.
</h5>
<div class="flex">
  <mat-card class="my-card">
    <mat-card-content>
      <div class="task">
        <mat-card-title>Task 1</mat-card-title>
        <p>Sortowanie tablicy liczb w porządku rosnącym.</p>
        <p><strong>Dane:</strong> [1,6,2,7,3,11,16,21,100,99]</p>
        <p><strong>Wynik:</strong> [{{ this.task1SortResult }}]</p>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="my-card">
    <mat-card-content>
      <div class="task">
        <mat-card-title>Task 2</mat-card-title>
        <p>
          Sortowanie tablicy obiektów na podstawie wieku osób od najmniejszej do
          największej.
        </p>
        <p><strong>Dane:</strong> {{ this.task2Sort | json }}</p>
        <p><strong>Wynik:</strong> {{ this.task2SortResult | json }}</p>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<div>
  <h1>Slice "slice"</h1>
  <div class="flex">
    <mat-card class="my-card">
      <mat-card-content>
        <div class="task">
          <mat-card-title>Task 1</mat-card-title>
          <p>Wyświetl pierwsze 3 elementy tablicy jako pozycje w liście</p>
          <p><strong>Dane:</strong> {{ task1Slice }}</p>
          <p><strong>Wynik:</strong></p>
          <ul>
            <li *ngFor="let list of task1Slice | slice : 0 : 3">{{ list }}</li>
          </ul>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="my-card">
      <mat-card-content>
        <div class="task">
          <mat-card-title>Task 2</mat-card-title>
          <p>Usuń pierwsze 4 litery ze stringa</p>
          <p><strong>Dane:</strong> WolaOciecka</p>
          <p><strong>Wynik:</strong> {{ task2SliceResult }}</p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div>
    <h1>Spread (spread)</h1>
    <h5>
      może być wykorzystywany do dodawania wartości do tablicy, łączenia tablic,
    </h5>
    <div class="flex">
      <mat-card class="my-card">
        <mat-card-content>
          <div class="task">
            <mat-card-title>Task 1</mat-card-title>
            <p>Złącz 2 tablice</p>
            <p>
              <strong>Dane:</strong>{{ this.task1Spread }}
              {{ this.task1Spread1 }}
            </p>
            <p><strong>Wynik:</strong> [{{ this.task1SpreadResult }}]</p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <button class="arrow-button"></button>
  </div>
</div>

<mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="keyboard_arrow_left" class="arrow-button" routerLink="/basics" ></mat-icon>