<h1>Jednostki w CSS i HTML</h1>
    
<section>
    <h2>Piksele (px)</h2>
    <p>Najpopularniejsza jednostka, której wartość oznacza liczbę pikseli na ekranie. Można ją używać do definiowania rozmiaru elementów, marginesów, wcięć, itp.</p>
</section>

<section>
    <h2>Procenty (%)</h2>
    <p>Jednostka względna, która zależy od szerokości elementu nadrzędnego. Można ją wykorzystać do tworzenia responsywnych layoutów.
        </p>
</section>

<section>
    <h2>em</h2>
    <p> Jednostka, która zależy od rozmiaru fontu elementu nadrzędnego. Może być używana do definiowania rozmiaru elementów, marginesów, wcięć, a także do skalowania wielkości czcionki.</p>
</section>

<section>
    <h2>rem</h2>
    <p>Jednostka podobna do em, ale zależy od rozmiaru fontu elementu na poziomie korzenia dokumentu. Może być używana do tworzenia skalowalnych projektów, które będą dobrze wyglądać na różnych </p>
</section>

<section>
    <h2>vw/vh (Viewport Width/Height)</h2>
    <p>jednostki, które określają procentowy udział wysokości lub szerokości okna przeglądarki. Można je użyć do tworzenia layoutów, które skalują się wraz ze zmianą rozmiaru okna.</p>
</section>

<section>
    <h2>Pixel Ratio (dpr)</h2>
    <p>jednostka, która określa gęstość pikseli na ekranie urządzenia. Może być wykorzystana do dostosowania wyglądu strony do urządzeń z różnymi gęstościami pikseli, na przykład ekranów Retina.</p>
</section>

